
body,html {
    height: 100%;
    margin: 0;

}


.result-container >* {
  font-size: 1.7em;
  padding: 0.2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.img-body{
display: flex;
align-items: center;
justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -1%);
    transform: translate(-50%, 40%);

}


.opponent-choice{
    transform: scaleY(-1) translate(-50%, 120%);
    
}


  img {
    width: 13em;
    box-sizing: border-box;
    border-radius: 50%;
    border: 0.1em solid black;
    margin: 1em;
  }

#rock:hover{
    border: 0.3em solid black;
    cursor: pointer;
    
  }

  #scissors:hover{
    border: 0.3em solid black;
    cursor: pointer;
    
  }

  #paper:hover{
    border: 0.3em solid black;
    cursor: pointer;
    
  }


  #player{
    font-size: 4em;
    padding-right: 3em;
    position: absolute;
    left: 25%;
    top: 73%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
  }

  #computer{
    font-size: 4em;
    padding-left: 3em;
    position: absolute;
    left: 75%;
    top: 33%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
  }

  /* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  width: 4em;
  height: 1.2em;
  vertical-align:middle;
  text-align: center;
  font-size: 3em;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */

}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
